modules = ["web", "nodejs-20", "python-3.12"]
run = "npm run dev"

[nix]
channel = "stable-25_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "xcodebuild", "zlib"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Django Server"

[[workflows.workflow]]
name = "Django Server"
author = 45935413
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:8000"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8000
externalPort = 80
exposeLocalhost = true
